
@import 'src/colors';

.container {
    position: relative;
}

.message {
    display: flex;
    & > * {
        padding: 6px;
        margin: 0;
        font-size: 12px;
    }
}

.message-time {
    background: $color-electron-blue;
    color: $color-city-lights;
}

.message-text {
    background: $color-city-lights;
    color: $color-american-river;
    flex: 1;
}