// https://flatuicolors.com/palette/us

// grayish tone.
$color-city-lights: #dfe6e9;
$color-city-lights--lighter: lighten($color-city-lights, 5%);
$color-city-lights--darker: darken($color-city-lights, 5%);

$color-soothing-breeze: #b2bec3;
$color-american-river: #636e72;
$color-dracula-orchid: #2d3436;


// blue tone
$color-electron-blue: #0984e3;
$color-electron-blue--lighter: lighten($color-electron-blue, 5%);


// red tone
$color-chi-gong: #d63031;
$color-pink-glamour: #ff7675;